<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
</head>
<body>
<h1>相册分享页面 相册id：<%= album.id %></h1>
<pre>
    <div id="qr_container" style="margin:auto; position:relative;"></div>
    <%- JSON.stringify(album) %>
    <div id="url"></div>
</pre>
<script>
  function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
  $('#qr_container').qrcode({render:"canvas",height:120, width:120,correctLevel:0,text:
    window.location.protocol + '//' + window.location.host + window.location.pathname + '?id=' + getUrlParam('id')
  });
  $('#url').text(window.location.protocol + '//' + window.location.host + window.location.pathname + '?id=' + getUrlParam('id'));
</script>
</body>
</html>