<% title = '相册分享' %>
<% include includes/shareHeader.html %>
<!--相册分享页面 相册id：<%= album.id %>-->
<div id='head' style='background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), #222), url("<%- album.coverDownloadUrl %>");'>
  <div class="head-foot-wrap">
    <div class="head-foot head-left">
      <span class="user-name note"><%- album.title %></span>
    </div>
    <div class="head-foot head-right">
      <div class="details details-left" >
        <img class="pics note" src="static/images/pics.png">
        <span class="note"><%- album.picturesCount %></span>
      </div>
      <div class="details">
        <img class="stars note" src="static/images/stars.png">
        <span class="note"><%- album.likesCount %></span>
      </div>
    </div>
  </div>
</div>
<% include includes/sharePicturesShow.html %>
<div class="clearFloat"></div>

<div class="note-down">
  点击下方二维码，关注该相册
</div>
<div class='center qr-code'>
  <a id="url" href="">
    <div id="qr_container" style="margin:auto; position:relative;"></div>
  </a>
</div>

<div class='blank50px'></div>
<div class="clearFloat"></div>
<script language="JavaScript" src="/static/js/share.js" ></script>
<% include includes/shareFooter.html %>
