<% title = '记忆分享' %>
<% include includes/shareHeader.html %>
<!--记忆分享页面 相册id：<%= memory.id %>-->
<!--<%- JSON.stringify(memory) %>-->
<div id='head' style='background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), #222), url("<%- album.coverDownloadUrl %>");'>
  <div class="head-foot-wrap">

    <div class="head-foot head-left">
      <div class="user-photo-wrap" style="background-image:url('<%- memory.User.avatarDownloadUrl %>');">
      </div>
      <span class="user-name note"><%- memory.User.nickname %></span>
    </div>
    <div class="head-foot head-right">
      <div class="details details-left" >
        <img class="pics note" src="static/images/pics.png">
        <span class="note"><%- '' %></span>
      </div>
      <div class="details">
        <img class="stars note" src="static/images/stars.png">
        <span class="note"><%- '' %></span>
      </div>
    </div>
  </div>
</div>
<% include includes/sharePicturesShow.html %>
<div class="clearFloat"></div>
<div class="note-down">
  点击下方二维码，查看记忆详情
</div>
<% include includes/shareRQcode.html %>
<div class='blank50px'></div>
<div class="clearFloat"></div>
<% include includes/shareFooter.html %>
