<% title = '用户分享' %>
<% include includes/shareHeader.html %>
<!--用户分享页面 相册id：<%= user.id %>-->
<!--<%- JSON.stringify(user) %>-->
<div id='head' style='background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), #222), url("<%- user.backgroundDownloadUrl  %>");'>
  <div class="head-foot-wrap">

    <div class="head-foot head-left">
      <div class="user-photo-wrap" style="background-image:url('<%- user.avatarDownloadUrl %>');">
      </div>
      <span class="user-name note"><%- user.nickname %></span>
    </div>
    <div class="head-foot head-right">
      <div class="details details-left" >
        <img class="pics note" src="static/images/pics.png">
        <span class="note"><%- user.followAlbumsCount %></span>
      </div>
      <div class="details">
        <img class="stars note" src="static/images/stars.png">
        <span class="note"><%- user.fansCount %></span>
      </div>
    </div>
  </div>
</div>
<% include includes/sharePicturesShow.html %>
<div class="clearFloat"></div>
<div class="note-down">
  点击下方二维码，关注该用户
</div>
<% include includes/shareRQcode.html %>
<div class='blank50px'></div>
<div class="clearFloat"></div>
<% include includes/shareFooter.html %>
