    <div class="note-down">
      查看更多内容，下载拾忆
    </div>
    <div class='blank50px'></div>
    <section class="container" style="margin-top:12.02px;">
      <div class='row'>
        <div class='center'>
          <img class='logo media-object center' src='/static/images/logo.png'>
          <div class='center' style='font-size: 15px;margin-top: 20px;'>
            拾忆
          </div>
          <div class='center' style='font-size: 10px;'>
            你的生活记忆管家
          </div>
        </div>
      </div>
    </section>
    <div class='blank50px'></div>
    <footer style="display: block;">
      <img class="foot-bg" src="/static/images/shiyiFootBg.png">
      <a class="clickLink" id="albumDownLoad" href="">
        <img class="clickBtn" src="/static/images/footBtn.png">
      </a></footer>
  </body>
</html>
